#principal{
    margin: 0 auto;
    margin-top: auto;
    width: 1920px;
    height: 1863px;
    background-color: black;
    
}
#pls{
    display: none;
    text-decoration: none;
    
}


#principal :hover #pls{
    display: block;
    text-decoration: none;
}

.imagenes{
    position: relative;
    left: 380px;
    display: flexbox;
    flex-flow: row-reverse;
    height: 400px;
}

.artista{
    color: white;
    position: absolute;
    left: 40%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(129, 129, 127);

}
.quienesomos{
    color: white;
    position: absolute;
    left: 42%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(129, 129, 127); 
}

#parrafo{
    color: white;
    position: absolute;
    margin-top: 5%;
    left: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: justify;
    background-color: rgb(129, 129, 127);
    border-style: solid;
    border-radius: 10px;
}

#parrafo_artista1{
    color: white;
    position: absolute;
    margin-top: 5%;
    left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    background-color: rgb(129, 129, 127);
    border-style: solid;
    border-radius: 10px;
}


hr.linea1 {
    border: 1px solid rgb(221, 221, 221);

}
hr.linea2 {
    border: 1px solid rgb(255, 255, 255);

}

#imagenes_artista{
    margin-top: 100px;
    background-color: black;    

}
#contacto{
    margin-top: 28%;
    position: absolute;
    left: 47%;

}
#volver{
    margin-top: 1%;
    position: absolute;
    left: 70%;

}

#facebook{
    margin-top: 38%;
    position: absolute;
    left: 2%;
    
}
#twitter{
    margin-top: 38%;
    position: absolute;
    left: 5%;
    
}
#formulario{
    color: white;
}


body{
	background: lightgray;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}
.capa{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	z-index: -1;
	top: 0;left: 0;
}
	
.header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;left: 0;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.container .btn-menu, .logo{
	float: left;
	line-height:100px;
}
.container .btn-menu label{
color: #fff;
font-size: 25px;
cursor: pointer;
}
.logo h1{
color: #fff;
font-weight: 400;
font-size: 22px;
margin-left: 10px;
}
.container .menu{
float: right;
line-height: 100px;
}
.container .menu a{
display: inline-block;
padding: 15px;
line-height: normal;
text-decoration: none;
color: #fff;
transition: all 0.3s ease;
border-bottom: 2px solid transparent;
font-size: 15px;
margin-right: 5px;
}

.container .menu a:hover{
border-bottom: 2px solid #c7c7c7;
padding-bottom: 5px;
}
	

#btn-menu{
display: none;
}

.container-menu{
position: absolute;
background: rgba(0,0,0,0.5);
width: 100%;
height: 100vh;
top: 0;left: 0;
transition: all 500ms ease;
opacity: 0;
visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
opacity: 1;
visibility: visible;
}

.cont-menu{
width: 100%;
max-width: 250px;
background: #1c1c1c;
height: 100vh;
position: relative;
transition: all 500ms ease;
transform: translateX(-100%);

}
#btn-menu:checked ~ .container-menu .cont-menu{
transform: translateX(0%);
}
.cont-menu nav{
transform: translateY(15%);
}

.cont-menu nav a{
display: block;
text-decoration: none;
padding: 20px;
color: #c7c7c7;
border-left: 5px solid transparent;
transition: all 400ms ease;
}

.cont-menu nav a:hover{
border-left: 5px solid #c7c7c7;
background: #1f1f1f;
}

.cont-menu label{
position: absolute;
right: 5px;
top: 10px;
color: #fff;
cursor: pointer;
font-size: 18px;
}